
  /*default grid behaviour, small screens*/
  .productlistarea {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
   
  display: grid;
   
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 15px;
  }
  
  /*medium screens*/
  @media only screen and (min-width: 500px) {
  .productlistarea {
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 63px;
    margin-right: 5px;

    
  }  
  }
  
  /*large screens*/
  @media only screen and (min-width: 950px) {
  .productlistarea {
    margin-left: 20%;
    margin-right: 2%;
    width: 78%;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    vertical-align: top;
  }
  
  
  .featured-item {
    grid-column: 1/ span 2;
  } /*make firs item occupy 2 columns*/ 

  }
  
  /*adds styling to cards*/
  .card {
  background: white;
  text-decoration: none;
  color: #444;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  min-height: 100%;
  
  
  /*transition to make move card on hover possible*/
  position: relative;
  top: 0;
  transition: all .1s ease-in;
  }
  
  /* adds visual cues when the card is hovered*/
  .card:hover {
  top: -2px;
  box-shadow: 0 4px 5px rgba(0,0,0,0.2);
  }

  .card:hover span{
    color: #00ccff;
  }

 
  
  .card article {
  padding: 20px;
  }
 
/* font formatting */
.card h1 {
  font-size: 20px;
  margin: 0;
  color: #333;
}
 
.card p { 
  line-height: 1.4;
}
 
.card span {
  font-size: 12px;
  font-weight: bold;
  color: #999;
  text-transform: uppercase;
  letter-spacing: .05em;
  margin: 2em 0 0 0;
  text-align: right;
}


  /*product image styling*/
.card .thumb {
  padding-bottom: 60%;
  background-size: cover;
  background-position: center center;
}

 /*make product description flex and fill space*/
.card article {
  padding: 20px;
  flex: 1;
   
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
  
  .card p { 
  flex: 1; /* make product descri grow to fill available space*/
  line-height: 1.4;
}


/*begin css for navigation bar*/
.topnav {
  overflow: hidden;
  background-color: #669999;
  margin-bottom: 12px;
}

.topnav a {
  float: left;
  display: block;
  color: #e6e6e6;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.hamburger{
  width: 30px;
  height: 4px;
  background-color: #e6e6e6;
  margin: 3px 0;
}

.topnav .icon:hover {
  background-color: #b30000;
}


.active {
  background-color: #b30000;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}


/*begin css for sidebar*/
  .sidebar-container{
    display: none;
    position: absolute;
  background-color: #669999;
  height: 240px;
  }
  .sidebar-item{
    display: none;
    flex-wrap: nowrap;

  }
  .sidebar-icon{
    display: none;
    width: 50px;
    height: 48px;
  }
  .sidebar-link{
    display: none;
  }

.sidebar-container a {
  float: left;
  color: #e6e6e6;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}



@media screen and (min-width: 500px) {
  .sidebar-container{
    display: flex;
    flex-direction: column;
    padding: 4px;
  width: 50px;
  flex-wrap: nowrap;
  
  }
  .sidebar-item{
    display: table;
    flex-wrap: nowrap;
  }
  .sidebar-icon{
    display: table;
    flex-wrap: nowrap;
  }
  .sidebar-link{
    display: none;
  }
}

@media screen and (min-width: 950px) {
  .sidebar-container{
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 15%;

}

.sidebar-item {
  display: flex;
  
  
}

.sidebar-icon {
  display: table;
}


.sidebar-link {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

 }

